<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Counter</title>
    </head>
    <body>
        <h1 align="center">
            Counter
        </h1>
        
        <h2 align= "center" name='key'>
            {{session['counter']}} time(s)
        </h2>

        <div>
            <p align="center"><a href="/destroy_session" ><button >Clear Session</button></a></p>
            <p align="center"><a href="/add2" ><button >Add by two</button></a></p>
            
            </a>
        </div>
        
        <input type="text" name="addition" id="addition" align="center">
 
        </form>
     
    </body>
</html>